* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
}
.topBar {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.sidebar {
  background-color: aqua;
}
