<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/main.css" />
    <title>Sign In</title>
  </head>
  <body>
    <div class="container" id="sign_in_container">
      <form id="sign_in_form" method="post" action="">
        <h2>Sign In</h2>
        <label>Email</label>
        <input name="email" type="email" id="email" required />
        <label>Password</label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Sign In</button>
        <p>
          Don't have accout?<span
            ><a href="./sign_up.html">Sign Up now.</a></span
          >
        </p>
      </form>
    </div>
    <script>
      const loginForm = document.getElementById("sign_in_form");

      loginForm.addEventListener("submit", function (e) {
        e.preventDefault(); // Stop page from refreshing

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        // Save to localStorage
        localStorage.setItem("email", email);
        localStorage.setItem("password", password); // not recommended for real-world apps!
        if (
          localStorage.getItem("sign_email") === email &&
          localStorage.getItem("sign_password") === password
        ) {
          // Redirect to Admin Dashboard
          let signIn = true;
          localStorage.setItem("signIn", signIn);
          window.location.href = "../index.html";
        } else {
          alert("Invalid email or password");
        }
      });
    </script>
  </body>
</html>
